.add_bill_layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  font-family: inherit;
  height: 100vh;
  background-color: #f9ffff;
}

.add_bill_layout h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 20px;
}

.form_container {
  width: 100%;
  min-width: 240px;
  max-width: 400px;
}

.add_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add_form label {
  font-size: 14px;
  padding-bottom: 8px;
}

.add_form input {
  padding: 4px 4px 4px 8px;
  height: 35px;
  margin-bottom: 14px;
  font-family: inherit;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px;
  opacity: 0.8;
  font-weight: bold;
}
.add_form input:focus {
  border: 1px solid #111;
}

.add_form button {
  height: 35px;
  cursor: pointer;
  background: #eee;
  border: 1px solid #ddd;
  outline: none;
  font-weight: bold;
  border-radius: 8px;
}
.add_form button:hover {
  opacity: 0.8;
}

.error_text {
  color: #dc143c;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}